<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
        Favourites
    </ion-title>

    <ion-buttons slot="start">
      <ion-button icon-only>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button icon-only>
        <ion-icon slot="end" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content
  color="dark"
  [fullscreen]="true"
>  
  <app-card
    [movies]="movies"
    [term]="term"  
    [loading]="loading"    
  ></app-card>

  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
  >
    <ion-badge
      *ngIf="movies.length === 0 && !loading"
      class="emptyFav"
    >
      Add new movies to Favourites
    </ion-badge>
    <ion-fab-button      
      color="light"
      (click)="addFavourite()"
    >
    
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>  
</ion-content>