.main-container {
  display: flex;  
  flex-direction: column;  
  text-align: center;  
  height: 100%;  
}

.form-container {
  padding: 0 35px;
  flex: 1;
}

.logo {
  margin-top: 70px;  
}

img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 8px solid #ffffff;
}

.form {
  margin-top: 15%;  
  // padding-left: 30px;
  // padding-right: 30px;
}

.error-container {
  background-color: #ee4b4b;
  width: 95%;
  text-align: center;
  padding: 1rem;
  margin: .5rem;
  border-radius: 10px;
  font-size: 1.1rem;
}

.text-account {
  padding: .5rem;
  font-size: 1rem;
}

.text-forgot {  
  margin-bottom: 1rem;
  font-size: 1rem;
}
.errors-container{
  margin-bottom: 5px;  
}
.error-message {
  color: red;
  font-size: 13px;
  display:block;
  float: none;
  width: 100%;
}
.label-light {
  color: white;
  font-size: 15px;
}
.label-error {
  color: red;
  font-size: 15px;
}
ion-item {
  border: 2px solid #ffffff;
  border-radius: 50px;
  height: 50px;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;   
  --highlight-height: 0px;
  --background: transparent;  

  ion-input {
    font-size: 14px;
    text-align: center;        
    --color: #ffffff;
    --padding-top: 0;
    --margin: 0;
  }
}

ion-item.item-has-focus > ion-label{
  color: #2557c4 !important;
}

ion-button {
  margin-top: 30px;
  height: 42px;
  font-size: 18px;
  text-transform: initial;
  border-radius: 50px;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
  --box-shadow: none;
}