<ion-content class="animated" color="dark">

  <div class="main-container">
    <div class="error-container">            
        <ion-text>
          Something went wrong!
        </ion-text>    
    </div>

    <div class="form-container">
      <div class="logo">    
        <img src="assets/logo.jpg" />
      </div>

      <!-- Form -->
      <form
        class="form"
        [formGroup]="validations_form"
        (ngSubmit)="onSubmitLogin(validations_form.value)"
      >
        <!-- <app-input type="text" label="Username" formControlName="username"></app-input>
        <app-input type="password" label="Password" formControlName="password" iconName="eye-outline"></app-input> -->

        <!-- Input username -->
        <ion-item class="ion-margin-bottom">
          <ion-label
          [ngClass]="{'label-error': username_valid, 'label-light': !username_valid}"
            position="floating"
          >
            UserName
          </ion-label>
          <ion-input
            type="text"            
            formControlName="email"
          ></ion-input>                 
        </ion-item>

        <div>
          <ng-container *ngFor="let validation of validation_messages.email">
            <ion-text
              style="display:block;float: none; width: 100%"
              class="error-message"
              *ngIf="username_valid"
            >
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-text>
          </ng-container>
        </div>
        <!-- End Input username -->

        <!-- Input password -->
        <ion-item class="ion-margin-bottom">          
            <app-show-hide-pass>
              <ion-label
              [ngClass]="{'label-error': password_valid, 'label-light': !password_valid}"
                position="floating"
              >
                Password
              </ion-label>
              
              <ion-input
                type="password"            
                formControlName="password"
              ></ion-input>
            </app-show-hide-pass>                
        </ion-item>
        
        <div>
          <ng-container *ngFor="let validation of validation_messages.password">
            <ion-text
              style="display:block;float: none; width: 100%"
              class="error-message"
              *ngIf="password_valid"
            >
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-text>
          </ng-container>
        </div>
        <!-- End Input Password -->

        <!-- Buttom -->
        <ion-button
          expand="block"
          shape="round"
          type="submit"
        >Login</ion-button>
        <!-- End Buttom -->
        
      </form>
      <!-- End Form -->

      <div class="text-account">
        <a (click)="goToRegister()">Create account</a>
      </div>
    </div>    

    <div class="text-forgot">
      <a (click)="goToForgotPass()">Forgot password?</a>
    </div>  
  </div>
</ion-content>