.footer {
  background: linear-gradient(90deg, rgba(9,44,131,1) 0%, rgba(42,114,150,1) 0%, rgba(8,47,170,1) 100%); 
  margin-bottom: 10px; 
}

.footer-nav {
  padding: 0.5rem;
}

.footer-nav ul {
  width: 100%;
  padding: 0;
  text-align: center;

  li {
      padding: 0;
      list-style: none;
  }
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
}

.footer-app-version {
  padding: 0.3rem;
  text-align: center;
  font-size: 0.8rem;  
}