<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu
      contentId="main"
      type="overlay"
      side="start"                
    >
      <ion-header class="ion-no-padding">
        <ion-toolbar>
          <!-- <div class="logo">
            <img src="assets/logo.jpg" />
          </div>           -->
          <ion-title mode="md">Cinema App</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list class="ion-no-padding">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>              
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngIf="isLoggedIn">
            <ion-item class="logout" (click)="logout()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Log Out
              </ion-label>
            </ion-item>            
          </ion-menu-toggle>

        </ion-list>
      </ion-content>      
      
      <app-footer></app-footer>
      
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>  
</ion-app>