ion-menu {
    --background: linear-gradient(90deg, rgba(9,44,131,1) 0%, rgba(42,114,150,1) 0%, rgba(8,47,170,1) 100%);
}
ion-header {
    padding: 1rem;
}
ion-toolbar {
    --background: linear-gradient(90deg, rgba(9,44,131,1) 0%, rgba(42,114,150,1) 0%, rgba(8,47,170,1) 100%);        
}
ion-title {
    color: var(--ion-color-dark);
    font-weight: 700;
    text-align: center;    
}
ion-content {        
    --background: linear-gradient(90deg, rgba(9,44,131,1) 0%, rgba(42,114,150,1) 0%, rgba(8,47,170,1) 100%);    
}
// ion-list {
//     --background: linear-gradient(90deg, rgba(9,44,131,1) 0%, rgba(42,114,150,1) 0%, rgba(8,47,170,1) 100%); 
// }
ion-item {
    background: linear-gradient(90deg, rgba(9,44,131,1) 0%, rgba(42,114,150,1) 0%, rgba(8,47,170,1) 100%);        
    --background: linear-gradient(90deg, rgba(9,44,131,1) 0%, rgba(42,114,150,1) 0%, rgba(8,47,170,1) 100%); 
    padding: 1rem;      
}
ion-icon {
    margin-right: 1rem;
}
ion-item:hover, ion-item:active {
    // background: rgba(34, 34, 34, 0.1);
    --background: rgba(34, 34, 34, 0.1);
    cursor: pointer;    
}

