<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title *ngIf="!searchBar">
        Movies
    </ion-title>

    <ion-input
      #input
      *ngIf="searchBar"
      placeholder="Search Movie"
      color="tertiary"      
      (keyup)="searchMovie(input.value)" 
    ></ion-input>    

    <ion-buttons slot="start">
      <ion-button icon-only>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button (click)="showSearchBar()" *ngIf="!searchBar" icon-only>
        <ion-icon slot="end" name="search"></ion-icon>        
      </ion-button>
      <ion-button (click)="showSearchBar()" *ngIf="searchBar">
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content
  color="dark"
  [fullscreen]="true"  
>

  <app-card
    [movies]="movies"
    [term]="term"
    [loading]="loading"
  ></app-card>

  <ion-fab    
    vertical="bottom"
    horizontal="end"
    slot="fixed"         
  >        
    <ion-badge
      color="dark"
    >Go Up</ion-badge>
    <ion-fab-button
      closeIcon="Go Up"
      size="small"
      color="dark"
      (click)="scrollToTop()"
    >      
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>