// $item-ios-sliding-content-background: #ed576b;
ion-item-sliding {
    // background: rgb(227,5,5);
    // background: linear-gradient(90deg, rgba(227,5,5,1) 0%, rgba(202,228,244,1) 50%, rgba(72,247,52,1) 100%);    
    background-color: #222428;
}
ion-item-option {    
    width: 75px !important;
    margin: 5px 0;
}
ion-card {    
    margin: 0;
    height: 20vh;
    border-radius: 10px;
}
ion-card-header {
    padding: 8px 10px;
    // margin-bottom: 1px;    
}
ion-card-title {
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ion-card-content {
    font-size: 10px;
    text-align: center;
    padding: 0 5px;
    color: #282828; 
}
ion-img {
    object-fit:cover;
    height: 20vh;  
}
ion-item{
    --inner-padding-end: 0px;
    --padding-start:0px;
    // margin-left: 15px;
    // margin-right: 15px;
    margin: 5px 15px;
    border-radius: 10px !important;    
}
ion-item:hover{
    cursor: pointer;
}
.rate {
    position: absolute;
    bottom: 0;
    text-align: start;
    margin-left: 5px;
    margin-bottom: 5px;
    p {
        font-size: 10px;
        font-weight: 700;
        color: #282828;
        margin-bottom: 0; 
    }
}
.colContent {
    background-color: #c4c4c4;
}
.optAdd {
    border-radius: 0 10px 10px 0 !important;
    background-color: #4cbb8d;
}
ion-icon {
    pointer-events: none;
}
ion-badge {
position: relative;
top: 10px;    
}