ion-toolbar {    

  ion-button {
    text-transform: initial;
    font-size: 17px;
  }
}

ion-content {
  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    color: #ffffff;
    margin-bottom: 15%;
  }  
  p {
    text-align: center;
    color: #b6b6b6;
    margin-top: 40px;
  }
}

.form-container {
  padding: 0 35px;  
}

.error-container {
  background-color: #ee4b4b;
  width: 95%;
  text-align: center;
  padding: 1rem;
  margin: .5rem;
  border-radius: 10px;
  font-size: 1.1rem;
}
  
.form {
  margin-top: 15%;
}
.errors-container{
  margin-bottom: 5px;  
}
.error-message {
  color: red;
  font-size: 13px;
  display:block;
  float: none;
  width: 100%;
}
.label-light {
  color: white;
  font-size: 15px;
}
.label-error {
  color: red;
  font-size: 15px;
}

ion-item {
  border: 2px solid #ffffff;
  border-radius: 50px;
  height: 50px;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08); 
  margin-bottom: 10px;     
  --highlight-height: 0px;
  --background: transparent;

  ion-input {
    font-size: 14px;
    width: 100%;
    text-align: center;        
    --color: #ffffff;
    --padding-top: 0;
  }
}

ion-item.item-has-focus > ion-label{
  color: #2557c4 !important;
}

ion-button {
  margin-top: 30px;
  height: 42px;
  font-size: 18px;
  text-transform: initial;
  border-radius: 50px;
  box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
  --box-shadow: none;
}